@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}
.parent {
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    z-index: 10;
  }
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    height: 65px;
    padding: 10px 20px 5px 20px;
    background-color: #ffffff;
    border-bottom: 2px solid hsla(0,0%,52.2%,.1);
}
.logo{
    padding: 5px 10px 0px 10px;
}
.menu{
    width: 320px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
}
.menubox{
    width: 400px;
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.padding{
    padding-top: 4px;
    padding-right: 7px;
}
.textbox{
    padding: 0px 8px;
    color: black;
}
.textbox1{
    margin: 4px 8px;
    padding: 8px;
    background-color: blueviolet;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    box-shadow: 6px 4px rgba(159, 159, 159, 0.305);
}
.textbox1:hover{
    margin: 4px 8px;
    padding: 8px;
    background-color: blueviolet;
    color: rgb(206, 217, 227);
    border-radius: 8px;
    box-shadow: none;
}
a{
    color: black;
}
a:hover{
    color: rgb(0, 0, 178);
}
.sidebar{
    position: fixed;
    top: 67;
    left: 0;
    height: 100%;
    width: 80px;
    margin-top: 65px;
    background: rgb(220, 220, 220);
    border-right: 2px solid rgba(100, 100, 100, 0.1);
    padding: 6px 14px;
    transition: all 0.5s ease;
}
.sidebar.active{
    width: 240px;
}
.sidebar.active #btn{
    top: 15px;
    padding: 5px;
    text-align: center;
    left: 80%;
    transform: rotate(0deg);
}
.sidebar #btn{
    position: absolute;
    color: black;
    transform: translateX(-50%);
    left: 40%;
    top: 15px;
    padding: 5px;
    text-align: center;
    transform: rotate(180deg);
}
.sidebar #btn:hover{
    position: absolute;
    color: white;
    background: black;
    padding: 5px;
    border-radius: 3px;
    top: 15px;
    text-align: center;
}
.sidebar ul li i{
    border: 2px solid black;
    border-radius: 3px;
    padding: 0px 0px 0px 5px;
}
.sidebar ul{
    margin-top: 45px;
}
.sidebar ul li{
    position: relative;
    width: 100%;
    height: 60px;
    margin: 0px 5px;
    list-style: none;
    border-top: 1px solid rgb(181, 181, 181);
}
.sidebar ul li .tooltip{
    position: absolute;
    height: 35px;
    width: 122px;
    color: black;
    left: 122px;
    top: 0;
    transform: translate(-40%, -50%);
    border-radius: 6px;
    background: white;
    line-height: 35px;
    text-align: center;
    box-shadow: 0px 5px 10px rgb(152, 152, 152);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
}
.sidebar.active ul li .tooltip{
    display: none;
}
.sidebar ul li:hover .tooltip{
    transition: all 0.5s ease;
    top: 50%;
    background: white;
    opacity: 1;
}
.sidebar ul li a{
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 6px;
    margin-right: 10px;
    border-radius: 12px;
    white-space: nowrap;
}
.sidebar.active ul li a{
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 20px;
    margin-right: 10px;
    border-radius: 12px;
}
.sidebar ul li a:hover{
    text-decoration: none;
    display: flex;
    align-items: center;
    background: white;
    width: 100%;
}
.sidebar ul li a i{
    height: 40px;
    min-width: 40px;
    line-height: 40px;
}
.sidebar.active ul li a i{
    height: 40px;
    min-width: 40px;
    line-height: 40px;
}
.sidebar .links_name{
    display: none;
    pointer-events: none;
}
.sidebar.active .links_name{
    display: block;
    margin-left: 10px;
    pointer-events: auto;
}
.home_content{
    position: absolute;
    z-index: 1;
    height: 100%;
    width: calc(100% - 80px);
    left: 80px;
    top: 65px;
    transition: all 0.5s ease;

}
.home_content text{
    color: black;
}
.home_content_index{
    position: absolute;
    z-index: 1;
    height: 100%;
    width: calc(100%);
    top: 65px;
    transition: all 0.5s ease;
    background-color: aliceblue;
    /* background-color: rgb(235, 235, 235); */
}
.home_content_index text{
    color: black;
}
.container{
    position: relative;
    z-index: 2;
    height: 100%;
    width: auto;
    background-color: white;
    border: 2px solid rgb(206, 205, 205);
    margin: 20px;
    padding: 20px;
}
.sidebar.active ~ .home_content{
    width: calc(100% - 240px);
    left: 240px;
}
.banner-1{
    height: 32px;
    width: 100%;
    background-color: rgb(201, 159, 240);
    margin-top: 1px;
}
.section1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    max-width: 860px;
    padding: 20px;
    margin: 30px auto;
}
.text_index .h3{
    line-height: 1em;
}
.start_now{
    line-height: 6em;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(80, 222, 80);
}
.image_index1 img{
    border-radius: 20px;
}
.container2{
    background-color: rgb(177, 241, 220);
}
.container3{
    background-color: rgb(194, 210, 242);
}
.testimony{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    max-width: 1000px;
    height: fit-content;
    padding: 20px;
    margin: 0 auto;
}
.imgBox2{
    width: 350px;
    height: auto;
    margin: 16px;
}
.story1{
    margin: 16px;
}
.ownerImg{
    max-width: 100%;
    height: auto;
    border-radius: 16px;
}
.container4{
    background-color: aliceblue;
    padding: 0 24px;
}
.pillarBlock{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    max-width: 1080px;
    margin: 0 auto;
    padding: 16px;
    /* border: 2px solid black; */
    overflow: hidden;
}
.pillarImg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
    object-fit: contain;
    margin: 16px;
    padding: 16px;
    border-radius: 16px;
    background-color: white;
}
.pillarText{
    margin: 16px;
}
/* .pillarTextSub h4{
    padding-left: 80px;
} */
.seperator{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    /* position: absolute; */
    bottom: -80px;
    background: linear-gradient(-90deg,rgba(134,158,255,.26),#909cfb,#a082f5,rgba(161,130,245,.27451));
}
.banner-2 {
    padding: 24px;
    width: 100%;
    background-color: aliceblue;
}
#myDIV.active {
    width: 100%;
    padding: 24px;
    color: rgb(0, 0, 0);
    font-size: 25px;
    transition: all 0.5s ease;
    background-color: white;
}
#myDIV {
    margin: 8px;
    font-size: 1px;
    transition: all 0.5s ease;
    color:rgba(0, 255, 255, 0)
}
#myDIV2.active {
    width: 100%;
    padding: 24px;
    color: rgb(0, 0, 0);
    font-size: 25px;
    transition: all 0.5s ease;
    background-color: white;
}
#myDIV2 {
    margin: 8px;
    font-size: 1px;
    transition: all 0.5s ease;
    color:rgba(0, 255, 255, 0)
}
#myDIV3.active {
    width: 100%;
    padding: 24px;
    color: rgb(0, 0, 0);
    font-size: 25px;
    transition: all 0.5s ease;
    background-color: white;
}
#myDIV3 {
    margin: 8px;
    font-size: 1px;
    transition: all 0.5s ease;
    color:rgba(0, 255, 255, 0)
}
.footer{
    text-align: center;
    color: gray;
    padding: 10px;
}

@media (max-width: 1080px) {
    .pillarBlock{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 728px) {
    .section1 {
        flex-direction: column;
    }
    .text_index {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .start_now{
        padding: 10px;
        margin: 10px;
        line-height: 1em;
    }
    .testimony {
        flex-direction: column;
    }
    .menu{
        display: none;
    }
    .text2{
        margin-left: 25%;
    }
    .pillarBlock{
        display: flex;
        flex-direction: column;
    }

}

