@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}
.parent {
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
  }
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    height: 65px;
    padding: 10px 20px 5px 20px;
    background-color: #ffffffd6;
    border-bottom: 2px solid hsla(0,0%,52.2%,.1);

}
.logo{
    padding: 5px 10px 0px 10px;
}
.menu{
    width: 320px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
}
.menubox{
    width: 400px;
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.padding{
    padding-top: 4px;
    padding-right: 7px;
}
.textbox{
    padding: 0px 6px;
    color: black;
}
a{
    color: black;
}
a:hover{
    color: rgb(0, 0, 178);
}
.container{
    height: 720px;
    width: auto;
    background-color: rgb(235, 235, 235);
}
.sidebar{
    position: fixed;
    top: 67;
    left: 0;
    height: 100%;
    width: 240px;
    margin-top: 65px;
    background: rgb(220, 220, 220);
    border-right: 2px solid rgba(100, 100, 100, 0.1);
    padding: 6px 14px;
}
.sidebar #btn{
    position: absolute;
    color: black;
    left: 90%;
    top: 15px;
    text-align: center;
    transform: translateX(-50%);
}
.sidebar ul{
    margin-top: 25px;
}
.sidebar ul li{
    position: relative;
    width: 100%;
    margin: 0px 5px;
    list-style: none;
}
.sidebar ul li a{
    text-decoration: none;
}

